# If deploying against a fork, pass the address of a large token holder.
# This address will be impersonated to distribute tokens to addresses inside test cases.
# The whale needs to hold at least 3000 tokens
TEST_TOKEN_WHALE="0x0000000000000000000000000000000000000000"

# If you are testing with FORK_TEST_MODE='fork-existing', define the address of the
# existing factory to use. Otherwise, you should use the default mode (fork-deploy)
FACTORY_ADDRESS="0x0000000000000000000000000000000000000000"
