# Required
DEPLOYMENT_PRIVATE_KEY="0x0000000000000000000000000000000000000000000000000000000000000001"
ETHERSCAN_API_KEY=""

# Optional
ALCHEMY_API_KEY=""
# REFUND_ADDRESS=""

# TARGET SCRIPT
# ---------------------------------------------------
# Name of the contract
DEPLOYMENT_SCRIPT="DeployGaugesV1_4_0"

# FULL DAO DEPLOYMENT (DAO + Multisig + VE)
# ---------------------------------------------------
MULTISIG_MEMBERS_JSON_FILE_NAME="/script/multisig-members.json"
MIN_APPROVALS="3"                            # How many multisig approvals are required
MULTISIG_PROPOSAL_EXPIRATION_PERIOD="864000" # How long until a pending proposal expires (10 days)
MULTISIG_METADATA_URI="ipfs://..."

MULTISIG_PLUGIN_RELEASE="1"
MULTISIG_PLUGIN_BUILD="3"

# Gauge Voter params
PLUGIN_REPO_ENS_SUBDOMAIN=""   # Optional when deploying just the plugin setup

# The main token for the escrow and the escrow details
TOKEN1_ADDRESS="0x0000000000000000000000000000000000000000"
VE_TOKEN1_NAME="Voting Escrow Token 1"
VE_TOKEN1_SYMBOL="veTK1"

# Additional tokens (optional)
# Each token gets its own escrow
TOKEN2_ADDRESS="0x0000000000000000000000000000000000000000" # Ignored when zero
VE_TOKEN2_NAME="Voting Escrow Token 2"
VE_TOKEN2_SYMBOL="veTK2"

# 10_000 = 100%
FEE_PERCENT="0"

# Min seconds after depositing before voting is possible
WARMUP_PERIOD="259200" # 3 days

# Min seconds after queuing an exit before withdrawing is possible
COOLDOWN_PERIOD="259200" # 3 days

# Min seconds a user must have locked in escrow before they can queue an exit
MIN_LOCK_DURATION="3600" # 1 hour

# Prevent voting until manually activated by the multisig
VOTING_PAUSED=true

# Initial minimum amount needed (in wei) to create a lock
MIN_DEPOSIT="1000000000000000000" # 1 ether (in token terms)

# The address of the factory contract that already made a deployment.
# Used for upgrades, fetching data or running fork tests.
VE_FACTORY_ADDRESS="0x0000000000000000000000000000000000000000"

# TESTING
# ---------------------------------------------------

# If deploying against a fork, pass the address of a large token holder.
# This address will be impersonated to distribute tokens to addresses inside test cases.
# The whale needs to hold at least 3000 tokens
TEST_TOKEN_WHALE="0x0000000000000000000000000000000000000000"

# Optional:
# If defined, `make anvil` will fork from the remote EVM (RPC_URL) at given block number
# FORK_BLOCK_NUMBER=2643743
